
body {
      font-size: 16px;
      background-color: #ededed;
}

.container-fluid {
    margin: 15px 15px 60px 15px;
}

nav .container-fluid {
    margin: 0;
}

.form-control {
      font-size: 1em;
      height: 1.5em;
      padding: 3px;
      text-align: right;
}

.form-group {
    margin: 0;
}


.modal-lg {
    width: fit-content;
}



/* Inputs */

.hinput {
   font-size: 1em;
   display: flex;
   justify-content: right;
   align-items: center;
   margin: 5px;
}

.hinput-label {
   font-weight: 700;
   text-align: right;
}

.hinput-input {
   margin: 5px;
   width: 8em;
}

.hinput-input .form-group {
   margin: 0;
}

.hinput-unit {
   font-weight: 700;
   text-align: left;
   width: 2em;
}


.analysis-title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.analysis-subtitle {
    font-size: 0.9em;
    text-align: center;
    color: #b0b0b0;
    margin-bottom: 15px;
}


.analysis-container {
    margin: 0 5px 5px 5px;
}

.analysis-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: gray;
    border-bottom: 1px solid #ededed;
}

.analysis-rows {
    max-height: 600px;
    overflow-y: scroll;
}

.analysis-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ededed;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
}

.analysis-row:hover {
    background-color: #ededed;
    transition: background-color .2s ease-in-out;
}


.analysis-new {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px
}

.analysis-new .form-control {
    font-size: inherit;
    height: inherit;
    text-align: inherit;
}


.analysis-table {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    margin-bottom: 15px;
}

.analysis-table-headers {
    min-width: 20em;
}

.analysis-table-cells {
    text-align: right; 
    align-self: flex-end; 
    min-width: 5em;
}


#analysisName {
    height: 2.5em;
}


.hlabel {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   height: 20px;
   margin-bottom: 15px;
   padding-right: 5px;
   font-weight: bold;
}

.labelUnit {
   display: flex;
   align-items: center;
   height: 20px;
   margin-bottom: 15px;
   padding-right: 5px;
   font-weight: bold;
}

.pair {
   display: flex;
   justify-content: space-between;
}


.card {
   background-color: white;
   padding: 10px;
   margin-bottom: 10px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.33);
   transition: all .2s;
}

.y1-preview {
   width: 10em;
   text-align: center;
   margin: 0 5px 0 5px;
}

.dscGood {
   background-color: #149c24;
}

.dscBad {
   background-color: #b54c0b;
}







/* Custom CSS for Navbar menus */
/* 2019-10-03 RPM */

/* Navbar background */

.navbar {
   background-color: white;
   border: none;
   box-shadow: 0 1px 10px #999;
   margin: 0 0 15px 0;
   padding-top: 0;
}


/* Navbar title */

.navbar .navbar-brand {
   color: #707070;
   background-color: white;
   transition: all 0.2s ease-in-out;
}

/* Navbar title on hover */

.navbar .navbar-brand:hover {
   color: #444444;
   transition: all 0.2s ease-in-out;
}


/* Navbar item */

.navbar .navbar-nav > li > a {
   color: #707070;
   background-color: white;
   border-radius: 100%;
   font-size: 1.25em;
   transition: all 0.2s ease-in-out;
}

/* Navbar item on hover */

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
   color: #707070;
   background-color: #efefef;
   border-radius: 0;
}


/* Navbar item when active */

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
   color: #424242;
   background-color: #efefef;
   border-radius: 0;
}




